{
  "env": {
    "production": {
      "plugins": ["emotion"]
    },
    "development": {
      "plugins": [["emotion", { "sourceMap": true }]]
    }
  },
  "presets": [
    [
      "env",
      {
        "useBuiltIns": true,
        "modules": false,
        "targets": {
          "browsers": ["last 3 versions"]
        }
      }
    ],
    "react"
  ],
  "plugins": ["transform-class-properties", "transform-object-rest-spread"]
}
