{
  "root": true,
  "env": {
    "node": true,
    "mocha": true,
    "es2022": true
  },
  "extends": [
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "overrides": [
    {
      "files": [
        "js/**/*.tsx",
        "website/**/*.js"
      ],
      "parserOptions": {
        "jsx": true
      },
      "plugins": [
        "react"
      ],
      "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error"
      }
    },
    {
      "files": [
        "website/**/*.md"
      ],
      "plugins": [
        "markdown"
      ]
    }
  ]
}
