_babel
_site
.sass-cache
node_modules
.DS_Store
npm-debug.log
_includes/readmes/*.md
.idea

# testing
coverage

# production
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.jekyll-metadata
