[submodule "_includes/babel"]
	path = _includes/babel
	url = https://github.com/babel/babel.git
	branch = 7.0
[submodule "_includes/babili"]
	path = _includes/babili
	url = https://github.com/babel/babili.git
[submodule "_includes/babel-preset-env"]
	path = _includes/babel-preset-env
	url = https://github.com/babel/babel-preset-env.git
[submodule "_includes/babylon"]
	path = _includes/babylon
	url = https://github.com/babel/babylon
[submodule "_includes/babel-archive"]
	path = _includes/babel-archive
	url = https://github.com/babel/babel-archive.git
