_babel
.sass-cache
node_modules
.DS_Store
npm-debug.log

# webpack output
website/static/*/build
website/build

# testing
coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.jekyll-metadata

# These markdown files are downloaded/copied using scripts/download-readmes.js
# from other repos so we don't want to commit them
docs/helper-*.md
docs/plugin-*.md
docs/preset-*.md
docs/gulp-*.md
docs/cli.md
docs/code-frame.md
docs/core.md
docs/generator.md
docs/helpers.md
docs/polyfill.md
docs/register.md
docs/runtime.md
docs/template.md
docs/traverse.md
docs/types.md
docs/babel.md
docs/babylon.md
docs/minify.md
docs/messages.md

# generated using scripts/download-sponsors.json
website/data/sponsors.json
