---
layout: default
title: Awsome babel
description: Awsome babel
permalink: /awesome-babel/
---

<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header text-center">
        <h1>Cool stuff <!--Ember-->Babel</h1>
        <p class="lead" data-title="Great artists steal">
          Community projects arround Babel.
        </p>
      </div>

      <div class="container-fluid babel-resource-container">
        <div class="row">

          <h2>Plugins</h2>
          <hr />

          {% for resource in site.data.community_resources.plugins %}
            <div class="col-md-12 col-sm-12">
              <a class="babel-resource" href="{{resource.url}}" title="{{resource.name}}">
                {{ resource.name }}
              </a>

              {% if resource.description %}
                - {{ resource.description }}
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="row">

          <h2>Tools</h2>
          <hr />

          {% for resource in site.data.community_resources.tools %}
            <div class="col-md-12 col-sm-12">
              <a class="babel-resource" href="{{resource.url}}" title="{{resource.name}}">
                {{ resource.name }}
              </a>

              {% if resource.description %}
                - {{ resource.description }}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>

      <hr>

      <div class="text-center">
        <p>
          To add your project to this page,
          <a href="https://github.com/babel/babel.github.io/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+%22New+Project%3A%22">open a PR</a>.
        </p>
      </div>

    </div>
  </div>
</div>
