---
layout: default
title: Videos
description: Videos and podcasts about Babel and its underlying concepts.
permalink: /docs/community/videos/
---

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header text-center">
        <h1>Videos</h1>
        <p class="lead">
          Videos and podcasts about Babel and its underlying concepts.
        </p>
      </div>

      <div class="container-fluid">
        {% for category in site.data.videos %}
          <h2>{{category.category}}</h2>
          <div class="babel-videos row">
            {% for video in category.items %}
              <div class="babel-video-wrap col-lg-4 col-sm-6">
                <div class="babel-video">
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{video.link}}" allowfullscreen></iframe>
                  </div>
                  <div class="babel-video-block">
                    <h4 class="babel-video-title">{{video.title}}</h4>
                    <p class="text-muted">
                      <span>by {{video.author}}<span>
                      {% if video.event %}
                        <span>at {{video.event}}</span>
                      {% endif %}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
