:root {
  --ifm-color-primary: #9e8400;
  --ifm-color-primary-dark: #8e7700;
  --ifm-color-primary-darker: #867000;
  --ifm-color-primary-darkest: #6f5c00;
  --ifm-color-primary-light: #ae9100;
  --ifm-color-primary-lighter: #b69800;
  --ifm-color-primary-lightest: #cdac00;

  --ifm-navbar-background-color: #323330;
  --ifm-navbar-height: 3.25rem;
  --ifm-navbar-padding-horizontal: 20px;
  --ifm-navbar-padding-vertical: 0;

  --ifm-navbar-link-color: #fff;
  --ifm-navbar-link-hover-color: #f5da55;

  --ifm-blockquote-border-left-width: 4px;
}
[data-theme='dark'] {
  --ifm-color-primary: #f5da55;
  --ifm-color-primary-dark: #f3d336;
  --ifm-color-primary-darker: #f2d026;
  --ifm-color-primary-darkest: #dab80d;
  --ifm-color-primary-light: #f7e174;
  --ifm-color-primary-lighter: #f8e484;
  --ifm-color-primary-lightest: #fbeeb2;
}

.headerWrapper.wrapper {
  max-width: 1400px;
}

/* ####### LINKS ####### */

html[data-theme=dark] .mainContainer a:not(.hash-link){
  color: white;
}

.mainContainer a:not(.hash-link) {
  background-color: rgba(245, 218, 85, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
  transition: all 0.25s ease-out;
}

.mainContainer a:not(.hash-link):hover {
  background-color: rgba(245, 218, 85, 0.35);
  text-decoration: none !important;
}

.mainContainer a code {
  background-color: transparent;
}

.mainContainer a.anchor {
  border-width: 0;
}

.mainContainer a.button {
  border-bottom-color: #323330;
  background-color: transparent;
}

.mainContainer a.button:hover {
  background: #323330;
  color: #f5da55;
}

/* ####### HEADER & FOOTER ####### */

.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: #f5da55;
}

.nav-footer .sitemap a:hover,
.nav-footer .sitemap a:focus {
  color: #f5da55;
}

.algolia-autocomplete {
  line-height: 20px;
}

/* ####### POST ####### */

.read-more {
  margin-top: 2rem;
}

.blogContainer .postHeader p.post-meta {
  float: left;
  font-size: 0.875rem;
}

.blogContainer .postHeader .authorBlock:before {
  content: "by ";
  font-size: 0.875rem;
  margin: 1px 5px;
}

.blogContainer h2 {
  font-size: 32px;
}

.blogContainer h3 {
  font-size: 24px;
}

.blogContainer h4 {
  font-size: 20px;
}

.page-header {
  padding-bottom: 9px;
  margin: 0 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.page-header > h1 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.page-header > p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  margin: 5px;
}

.text-center {
  text-align: center;
}

/* v2 custom css */

.navbar__item svg {
  display: none;
}
.DocSearch,
.DocSearch-Button {
  width: 170px;
  height: 32px !important;
  background: rgba(0, 0, 0, 0.2) !important;
}

.DocSearch-Search-Icon {
  color: white !important;
}

.DocSearch-Button-Keys {
  display: none !important;
}

.DocSearch-Button-Placeholder {
  color: white;
  font-size: 14px;
}

@media only screen and (max-width: 1024px) {
  .DocSearch,
  .DocSearch-Button {
    background-color: rgba(242, 196, 178, 0.25) !important;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.mainContainer {
  flex: 1 1 0%;
  max-width: 100%;
  padding: 40px 0;
}

.navbar__item {
  font-weight: 300;
}

.container.paddingTop {
  padding-top: 80px;
}
