@import "./lib/styles.css";

.loader {
  align-items: center;
  background: var(--colors-inverseBackgroundDark);
  color: var(--colors-inverseForegroundLight);
  display: flex;
  height: 100%;
  justify-content: center;
}
.loadingAnimation {
  justify-content: center;
  margin: 2rem 0 0 0;
}
.loaderContent {
  margin: auto;
  text-align: center;
}
