<div class="footer text-center">
  <p>
    <a href="https://github.com/babel/babel">{{ site.title }}</a>
    · <a href="https://github.com/babel/babel/blob/master/LICENSE">Distributed under the MIT License</a>
    · <a href="https://github.com/babel/website">Website</a>
      is distributed under
      the <a href="https://github.com/babel/website/blob/master/LICENSE">ISC license</a>
    · <a href="https://github.com/babel/babel/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a>
  </p>
  <p>
    <a href="http://henryzoo.com/babel.github.io/">Looking for Babel 5.x docs?</a>
    · Found an issue with the docs? Report it <a href="https://github.com/babel/babel.github.io/issues/new">here</a>.
  </p>
</div>

{% include scripts.html %}
