<div class="footer text-center">
  <p><a href="https://github.com/babel/babel">{{ site.title }}</a> · <a href="https://github.com/babel/babel/blob/master/LICENSE">遵循 MIT 许可协议</a> · <a href="https://github.com/babel/babel/blob/master/CODE_OF_CONDUCT.md">代码规范</a></p>
  <p><a href="http://henryzoo.com/babel.github.io/">查看 Babel 5.x 文档?</a> · 发现文档中的问题，提交到 <a href="https://github.com/docschina/babeljs.io/issues/new">这里</a>.</p>
  <p>特别鸣谢 <a href="https://cloud.tencent.com/">腾讯云</a> · <a href="http://www.bootcss.com/">Bootstrap中文网</a> 提供服务和支持</p>
  <br/>
  <p><a href=" " target="_blank">冀ICP备14002930号</a></p>
</div>

{% include scripts.html %}
