<nav role="navigation" id="header" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ site.baseurl }}/" class="navbar-brand logo">Babel</a>
    </div>
    <div id="navigation" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for item in site.data.navigation %}
          {% if item.subnav %}
            <li class="dropdown {% if page.url contains item.url %}active{% endif %}">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ item.title }} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% for item in item.subnav %}
                  <li {% if page.url contains item.url %}class="active"{% endif %}>
                    <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li {% if page.url contains item.url %}class="active"{% endif %}>
              <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://discuss.babeljs.io">Discuss</a>
        </li>
        <li>
          <a href="https://slack.babeljs.io/">Chat</a>
        </li>
        <li>
          <a href="https://phabricator.babeljs.io">Issues</a>
        </li>
        <li {% if page.url contains "/blog/" %}class="active"{% endif %}>
          <a href="{{ site.baseurl }}/blog/">Blog</a>
        </li>
        <li>
          <a href="https://twitter.com/babeljs">Twitter</a>
        </li>
        <li>
          <a href="https://github.com/babel/babel">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
