<h2>Open Issues</h2>

<div class="open-issues">
  <div class="open-issues-section open-issues-section--beginner">
    <div class="open-issues-section__content">
      <div class="open-issues-section__title">
        Beginner Friendly
      </div>
      <ul class="issues"></ul>
    </div>
  </div>
  <div class="open-issues-section open-issues-section--help-wanted">
    <div class="open-issues-section__content">
      <div class="open-issues-section__title">
        Help Wanted
      </div>
      <ul class="issues"></ul>
    </div>
  </div>
</div>
