hr {
  border-width: 1px 0 0 0;
}

blockquote {
  background: #fafbfc;
  border-left-color: #e0e0e0;
  color: inherit;
}

.headerWrapper.wrapper {
  max-width: 1400px;
}

/* ####### LINKS ####### */

.mainContainer a:not(.hash-link) {
  background-color: rgba(245, 218, 85, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #1a1a1a;
  transition: all 0.25s ease-out;
}

.mainContainer a:not(.hash-link):hover {
  background-color: rgba(245, 218, 85, 0.35);
  text-decoration: none !important;
}

.mainContainer a code {
  background-color: transparent;
}

.mainContainer a.anchor {
  border-width: 0;
}

.mainContainer a.button {
  border-bottom-color: #323330;
  background-color: transparent;
}

.mainContainer a.button:hover {
  background: #323330;
  color: #f5da55;
}

/* ####### HEADER & FOOTER ####### */

.navigationSlider .slidingNav ul li a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive a,
.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  color: #f5da55;
}

.nav-footer .sitemap a:hover,
.nav-footer .sitemap a:focus {
  color: #f5da55;
}

/* ####### HOME ####### */

.hero {
  background: #3b3c38;
  color: #fff;
  overflow: hidden;
  padding: 4rem 1rem 2rem;
  position: relative;
  text-align: center;
}

.hero::before {
  background: url(../img/babel-black.svg) no-repeat center center;
  background-size: cover;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.hero__container {
  position: relative;
  z-index: 2;
}

.hero h1 {
  color: #f5da55;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.hero p {
  font-size: 1.125rem;
  font-weight: 600;
  margin: 1rem 0 3.125rem;
}

@media only screen and (min-width: 736px) {
  .hero {
    padding: 7rem 1rem 5rem;
  }

  .hero h1 {
    font-size: 3.938rem;
  }

  .hero p {
    font-size: 1.75rem;
  }
}

.tidelift-banner {
  background-color: #626980;
  color: #ffffff;
  display: flex;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  position: absolute;
  margin-top: -64px;
  padding: 10px 0;
  right: 0;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;
}

.tidelift-banner::before {
  background: url(../img/tidelift-shorthand.svg) no-repeat center center;
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  padding: 0 10px;
}

@media only screen and (min-width: 736px) {
  .tidelift-banner {
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    font-size: 13px;
    position: absolute;
    margin-top: -100px;
    padding: 10px;
    padding-right: 20px;
    right: 0;
    width: auto;
  }
}

/* ####### POST ####### */

.read-more {
  margin-top: 2rem;
}

.blogContainer .postHeader p.post-meta {
  float: left;
  font-size: 0.875rem;
}

.blogContainer .postHeader .authorBlock:before {
  content: "by ";
  font-size: 0.875rem;
  margin: 1px 5px;
}

.blogContainer h2 {
  font-size: 32px;
}

.blogContainer h3 {
  font-size: 24px;
}

.blogContainer h4 {
  font-size: 20px;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.page-header > h1 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.page-header > p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.4;
  margin: 5px;
}

.text-center {
  text-align: center;
}

table td code {
  color: #393939;
  word-break: normal;
}
