.hero-repl {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  color: white;
  max-width: 920px;
  margin: 0 auto;
}
.hero-repl--visible {
  opacity: 1;
}
.hero-repl__error {
  background: #702141;
  bottom: 0;
  font-family: monospace;
  font-size: 0.83rem;
  left: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 16px 24px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 47px;
  white-space: pre;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}
.hero-repl__error--visible {
  opacity: 1;
}
.hero-repl__footer {
  background: #353634;
  border: 1px solid #4f504d;
  border-radius: 0 0 4px 4px;
  color: #b7b8b7;
}
.hero-repl__footer a {
  color: #b7b8b7;
  display: block;
  padding: 1rem 0;
  text-decoration: underline;
  -webkit-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.hero-repl__footer a:hover {
  background: #4f504d;
  color: #fff;
}
.hero-repl__editor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  .hero-repl__editor {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.hero-repl__pane {
  background: #353634;
  border: 1px solid #4f504d;
  position: relative;
}

@media (min-width: 992px) {
  .hero-repl__pane {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 50%;
    -moz-box-flex: 1;
    -moz-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
  }
}

.hero-repl__code {
  background: #3f403e;
  font-family: monospace;
  font-size: 0.83rem;
  height: 125px;
  text-align: left;
}
@media (min-width: 992px) {
  .hero-repl__code {
    font-size: 1rem;
    height: 200px;
  }
}
.hero-repl h3 {
  color: #b7b8b7;
  font-size: 0.875rem;
  margin: 0;
  padding: 12px 24px;
  text-align: center;
}
@media (min-width: 992px) {
  .hero-repl h3 {
    font-size: 1rem;
    text-align: left;
  }
}
