.showcaseSection .logos {
  background: #eee;
  border-radius: 5px;
  padding: 20px 30px;
}

.showcaseSection .babel-user {
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.mainContainer .showcaseSection .babel-user-link {
  display: block;
  position: relative;
  height: 120px;
  padding: 10px;
  margin: 15px 0;
  background: #fff;
  border-radius: 5px;
}

.showcaseSection .babel-user .babel-user-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 200px;
  max-height: 100px;
}

.mainContainer .showcaseSection .babel-user-link:hover {
  background: #fff;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  -ms-transform: scale3d(1.1, 1.1, 1);
  -o-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
  box-shadow: 0px 0px 2px 0px #000;
}

@media only screen and (min-width: 360px) and (max-width: 736px) {
  .showcaseSection .babel-user {
    width: 100%;
  }
  .showcaseSection .babel-user .babel-user-logo {
    width: 100%;
  }
}
