@import "_variables.scss";

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

*,
::before,
::after {
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  padding-top: 50px;
}

@import "components/_buttons.scss";
@import "components/_callouts.scss";
@import "components/_content.scss";
@import "components/_featurette.scss";
@import "components/_footer.scss";
@import "components/_jumbotron.scss";
@import "components/_logo.scss";
@import "components/_navbar.scss";
@import "components/_sidebar.scss";
@import "components/_type.scss";

@import "pages/_docs.scss";
@import "pages/_repl.scss";
