@import "_variables.scss";
@import "_mixins.scss";

*,
::before,
::after {
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  padding-top: 50px;
}

@import "components/_buttons.scss";
@import "components/_callouts.scss";
@import "components/_code.scss";
@import "components/_content.scss";
@import "components/_featurette.scss";
@import "components/_footer.scss";
@import "components/_hero.scss";
@import "components/_highlight.scss";
@import "components/_logo.scss";
@import "components/_navbar.scss";
@import "components/_sidebar.scss";
@import "components/_tick-list.scss";
@import "components/_type.scss";
@import "components/_user.scss";
@import "components/_video.scss";

@import "pages/_404.scss";
@import "pages/_repl.scss";
@import "pages/_tools.scss";
@import "pages/_team.scss";
