.twitter-tweet {
  margin: 1em auto !important;
  width: 100% !important;
  max-width: 100% !important;
}

.babel-blog-content,
.babel-blog-excerpt {
  font-size: 1.2em;
}

.babel-blog-content {
  margin-top: 2em;

  p {
    margin-bottom: $line-height-computed;
  }

  img {
    @extend .img-responsive;
  }

  h1, .h1,
  h2, .h2,
  h3, .h3 {
    margin-top: $line-height-computed * 2;
  }

  h4, .h4,
  h5, .h5,
  h6, .h6 {
    margin-top: ($line-height-computed / 2) * 2;
  }

  .babel-callout h4 {
    margin-top: 0;
  }

  pre {
    overflow: auto;

    &,
    & code {
      white-space: pre;
      word-break: normal;
      word-wrap: normal;
    }
  }
}

.babel-blog-section-title {
  margin-top: $line-height-computed * 2;
  padding-bottom: $line-height-computed;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.babel-share-buttons {
  font-size: 10px;

  .fb-share-button,
  .twitter-share-button {
    vertical-align: top;
  }

  .fb-share-button {
    margin-right: 10px;
  }
}
