
.docs-header {
  @extend .page-header;
  margin-top: 0;
  padding: 2em 0;
  background: $babel-dark-gray;
  border-bottom: darken($babel-dark-gray, 5%);
  color: $babel-yellow;

  h1 {
    font-size: 3em;
    font-weight: 700;
  }

  p {
    color: white;

    &:not(.package-links) {
      font-size: 1.5em;
    }
  }

  a {
    color: $babel-yellow;
    text-decoration: underline;
  }
}

.docs-content {
  h2 {
    @extend .page-header;
  }

  h2 + blockquote:not(.babel-callout) {
    @extend .lead;
    padding: 0;
    border-left: none;
  }
}
