.babel-fullscreen,
.babel-fullscreen body {
  position: relative;
  width: 100%;
  height: 100%;
}

.babel-repl {
  position: relative;
  width: 100%;
  height: 100%;

  + .footer {
    margin-top: 0;
  }
}

.babel-repl-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: $babel-dark-gray;
  color: white;

  .form-group {
    display: inline-block;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
  }
}

.babel-repl-left-panel,
.babel-repl-right-panel
{
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 50%;
}

.babel-repl-left-panel {
  left: 0;
}

.babel-repl-right-panel {
  right: 0;
}

.babel-repl-editor {
  position: absolute;
  top: 0;
  bottom: 30px;
  width: 100%;
  background: lighten($gray-lighter, 3%);

  .ace_editor {
    width: 100%;
    height: 100%;
    border-radius: none;
  }

  .ace_scroller.ace_scroll-left {
    box-shadow: none;
  }
}

.babel-repl-output {
  background: #f9f9f9;
}

.babel-repl-resize {
  position: absolute;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  background: darken($gray-lighter, 5%);
  z-index: 10;
}

.babel-repl-resize-active .babel-repl-resize,
.babel-repl-resize:hover {
  background: darken($gray-lighter, 10%);
}

.babel-repl-reporter {
  position: absolute;
  z-index: 4;
  bottom: 0;
  min-height: 30px;
  max-height: 30%;
  overflow: auto;
  width: 100%;
  padding: $padding-base-vertical $padding-base-horizontal;
  border-top: 1px solid darken($gray-lighter, 5%);
  background: lighten($gray-lighter, 1%);
  white-space: pre;
  @extend code;
  border-radius: 0;
}

.babel-repl-errors {
  left: 0;
}

.babel-repl-console {
  right: 0;
}

#babel-repl-presets {
  display: inline-block;
}

.babel-repl-preset-container {
  position: relative;

  .dropdown-toggle {
    cursor: pointer;
  }
}

#babel-repl-preset-dropdown {
  margin-left: 10px;
  margin-top: -3px;
}


#option-browsers-wrapper {
  font-weight: 400;
  margin-left: 10px;
}

#option-browsers-wrapper input {
  color: black;
  margin-left: 5px;
  font-size: 13px;
  padding-left: 5px;
  min-width: 175px;
  border: none;
}

#option-builtIns-wrapper {
  padding-right: 15px;
}

