.babel-fullscreen,
.babel-fullscreen body {
  position: relative;
  width: 100%;
  height: 100%;
}

.babel-repl {
  position: relative;
  width: 100%;
  height: 100%;

  + .footer {
    margin-top: 0;
  }
}

.babel-repl-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: $babel-dark-gray;
  color: white;

  .form-group {
    display: inline-block;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
  }
}

.babel-repl-editor {
  position: absolute;
  top: 50px;
  bottom: 30px;
  width: 50%;
  background: lighten($gray-lighter, 3%);

  .ace_editor {
    width: 100%;
    height: 100%;
    border-radius: none;
  }

  .ace_scroller.ace_scroll-left {
    box-shadow: none;
  }
}

.babel-repl-input {
  left: 0;
  border-right: 1px solid darken($gray-lighter, 5%);
}

.babel-repl-output {
  right: 0;
  background: #f9f9f9;
}

.babel-repl-reporter {
  position: absolute;
  z-index: 4;
  bottom: 0;
  min-height: 30px;
  max-height: 30%;
  overflow: auto;
  width: 50%;
  padding: $padding-base-vertical $padding-base-horizontal;
  border-top: 1px solid darken($gray-lighter, 5%);
  background: lighten($gray-lighter, 1%);
  white-space: pre;
  @extend code;
  border-radius: 0;
}

.babel-repl-errors {
  left: 0;
  border-right: 1px solid darken($gray-lighter, 5%);
}

.babel-repl-console {
  right: 0;
}

#babel-repl-presets {
  display: inline-block;
}
