// Hide every mention of search if JavaScript is disabled
.no-js .babel-toggle-search-open,
.no-js .babel-navbar .babel-search {
  display: none;
}

// We revert the right/left padding because we changed the underlying markup
.babel-nav .navbar-brand {
  margin-left: -15px;
}

.babel-nav .babel-navbar-toggles {
  margin-right: -15px;
}

// The display of the search bar on top of the menu is toggled
// through a checkbox, when clicking on the matching label. The checkbox is
// hidden, and we have two labels (pointing to the same checkbox), for two
// different RWD breakpoints.
.babel-toggle-search-checkbox {
  display: none;
}

// Magnifying glass label
.babel-toggle-search-open {
  color: $navbar-default-toggle-icon-bar-bg;
  cursor: pointer;
  margin: 6px 0 0;
  &:hover {
    background-color: $navbar-default-toggle-hover-bg;
  }
}
// Hiding the second magnifying glass that will only be used on bigger screen
.babel-navbar .babel-toggle-search-open {
  display: none;
}


// When the checkbox is checked, we hide everything in the .babel-nav, except
// the form input
.babel-toggle-search-checkbox:checked + .babel-nav {
  // Hide all
  .navbar-brand,
  .babel-navbar-toggles,
  .navbar-nav,
  .babel-toggle-search-open {
    display: none;
  }
  // Counter the `.collapse`
  .babel-navbar {
    display: block;
    visibility: visible;
    border-top: none;
  }
  // Display search
  .babel-search {
    display: block;
  }
}

// Search bar. Will only be displayed when toggled on
.babel-navbar .babel-search {
  border-color: transparent;
  display: none;
  margin: 0;
  padding: 6px 0;
  height: 50px;
  width: 100%;
}
.babel-search .input-group {
  display: block;
}

// Use a more modern style for the search input
.babel-search .babel-search-input-wrapper {
  border-bottom: 2px solid $navbar-default-border;
  display: table;
  width: 100%;
  &:before {
    content: "\e003";
    display: table-cell;
    vertical-align: middle;
    font-family: 'Glyphicons Halflings';
    text-align: center;
    width: 30px;
  }
}
.babel-nav .babel-search .form-control {
  display: table-cell;
  width: 100%;
  padding-left: 6px;
  font-weight: normal;
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  @include placeholder($gray)
}

.babel-search .babel-toggle-search-close {
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 30px;
  line-height: 34px;
}


// Fix display of nav elements in dropdown hamburger list
.babel-nav .babel-navbar {
  clear: both;
}

// Enough room to display the links, but not the full search. We'll only add
// a magnifying glass to toggle the search
@media (min-width: $screen-md) {
  .babel-nav .babel-navbar {
    clear: none;
  }
  // Set less whitespace around elements
  .babel-nav .navbar-nav > li > a {
    padding: 15px 10px;
  }
  // Show magnifying glass
  .babel-nav .babel-navbar .babel-toggle-search-open {
    color: $navbar-default-link-color;
    display: block;
  }
  // Search toggled on
  .babel-toggle-search-checkbox:checked + .babel-nav {
    // Hide the magnifying glass
    .babel-toggle-search-open {
      display: none;
    }
    .navbar-brand {
      display: inline-block;
    }
    .babel-navbar {
      margin-left: 105px;
    }
  }
}

// Markup added by autocomplete.js
.babel-nav .algolia-autocomplete {
  // Fix display (set it to display: inline-block in the plugin)
  display: block !important;
}

// Main autocomplete wrapper
.babel-nav .aa-dropdown-menu {
  background-color: $body-bg;
  border: 1px solid $babel-dark-gray;
  border-radius: 4px;
  font-size: 14px;
  margin: 2px 0 0;
  padding: 4px 4px 0 4px;
  text-align: left;
  top: 37px !important;
  left: -30px !important;
  right: -30px !important;
}
// Suggestions wrapper
.babel-nav .aa-suggestions {
  border-bottom: 1px solid $babel-yellow;
  mark {
    padding: 0;
  }
}

// Sugestion footer
.babel-nav .suggestion-footer {
  background-image: url('/images/algolia-logo.png');
  background-position: right center;
  background-repeat: no-repeat;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: block;
  height: 24px;
  margin: 6px;
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .babel-nav .suggestion-footer .suggestion-algolia-logo {
    background-image: url('/images/algolia-logo-2x.jpg');
    -webkit-background-size: 32px 10px;
            background-size: 32px 10px;
  }
}


// Suggestion category separator
.babel-nav .suggestion-category {
  border-top: 1px solid white;
  background-color: $babel-yellow;
  color: $navbar-default-color;
  font-weight: 600;
  padding: 5px 10px;
  text-align: left;
  font-size: 14px;
  mark {
    background-color: rgba(252, 248, 227, 0.3)
  }
}

// Suggestion
.babel-nav .suggestion {
  color: $text-color;
  cursor: pointer;
  overflow: hidden;
}
// Selected one
.babel-nav .aa-cursor .suggestion-content {
  color: $link-color;
  code, mark {
    color: $link-color;
  }
}

// Hide the subcategory from the left column but display it in the results
.babel-nav .suggestion-subcategory-main {
  display: none;
}

.babel-nav .suggestion-subcategory-secondary {
  display: inline-block;
  &:after {
    content: ' › ';
  }
}

// Right column
.babel-nav .suggestion-content {
  border-top: 1px solid $babel-yellow;
  padding: 3px 5px;
}
// Do not add separators on first element of category
.babel-nav .suggestion-is-category-header .suggestion-content {
  border-top-color: transparent;
}

.babel-nav .suggestion-title {
  display: inline-block;
  padding: 2px;
}

.babel-nav .suggestion-text {
  display: none;
}

// Screen big enough to display results in two columns
@media (min-width: $screen-sm) {
  // Use table display for the two columns
  .babel-nav .suggestion {
    display: table;
    width: 100%;
  }
  .babel-nav .suggestion-subcategory-main {
    background-color: lighten($navbar-default-bg, 30%);
    border-right: 1px solid $babel-yellow;
    color: #4E4726;
    display: table-cell;
    font-weight: 500;
    max-width: 135px;
    min-width: 135px;
    overflow: hidden;
    padding: 5px 7px 5px 5px;
    text-align: right;
    text-overflow: ellipsis;
    vertical-align: top;
    width: 135px;
  }
  .babel-nav .suggestion-content {
    display: table-cell;
    padding: 5px 10px;
  }
  .babel-nav .suggestion-subcategory-secondary {
    display: none;
  }
  .babel-nav .suggestion-text {
    display: block;
    font-size: 12px;
    font-weight: normal;
    padding: 2px;
  }
}

