.team {
  &__name, &__member {
    margin-bottom: 30px;
  }

  svg {
    height: 16px;
    width: 16px;
    vertical-align: top;
  }

  .member{
    &__info {
      float: left;
    }
    &__image {
      width: 60px;
      height: 60px;
      border-radius: 5px;
      float: left;
      margin-right: 20px;
    }
  }
}
