.js .step-wizard {
  .step-install,
  .step-setup,
  .item,
  .item h3 {
    display: none;
  }

  .step-no {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    background-color: #f5da55;
    margin-right: 10px;
  }

  .step:first-child > h2 {
    margin-top: 0;
  }
}
