extends ../partials/layout.jade

block settings
  - var pageTitle = 'Compare';
  - var pageClass = 'compare';

block content
  .page-header
    .container
      .row
        .col-md-12
          h1 Compare
          p Differences between 6to5 and other ES6 transpilers.