extends ../partials/layout.jade

block settings
  - var pageTitle = 'Compare';
  - var pageClass = 'compare';

block content
  .docs-header
    .container
      .row
        .col-md-12
          h1 Compare
          p Differences between 6to5 and other ES6 transpilers.

  .container
    .row
      .col-md-3.col-md-push-9
        .sidebar: ul.nav
      .col-md-9.col-md-pull-3.docs-content
        include:markdown ../content/compare.md