extends ../partials/layout.jade

block settings
  - var pageTitle = 'Usage'
  - var pageClass = 'usage';

block content
  .page-header
    .container
      h1 Usage
      p All of the built-in ways to use 6to5.

  .container
    .row
      .col-md-3.col-md-push-9
        .sidebar
          ul.nav
            li
              a(href="#cli") CLI
              ul.nav
                li: a(href="#node") Node
            li
              a(href="#node") Node
              ul.nav
                li: a(href="#to5-transform-code-opts-") transform
                li: a(href="#to5-transformfilesync-filename-opts-") transformFileSync
                li: a(href="#to5-transformfile-filename-opts-callback-") transformFile
                li: a(href="#options") Options
                li: a(href="#require-hook") Require hook
            li: a(href="#experimental") Experimental

      .col-md-9.col-md-pull-3.page-content
        include:markdown ../content/usage.md