

:root {
  --token-color: #393a34;
  --token-background: #f6f8fa;
  --token-border: var(--ifm-color-emphasis-300);
  --token-color-comment: #008000;
  --token-color-doctype: #008000;
  --token-color-string: #a31515;
  --token-color-operator: #393a34;
  --token-color-symbol: #277c7b;
  --token-color-number: #098658;
  --token-color-keyword: #00f;
  --token-color-function: #2b74b1;
  --token-color-function-variable: #000;
  --token-color-important: #e90;
  --token-color-class-name: #237690;
  --token-color-selector: #800000;
  --token-color-regexp: #800000;
  --token-color-property: #c70000;
  --token-color-builtin: #00f;
  --token-color-boolean: #00f;
  --token-color-inserted: #247e81;
  --token-color-deleted: #d73a49;
  --token-color-unchanged: #727272;
  --token-color-highlight: rgb(193 222 241 / 20%);

  --code-line-decoration: rgb(112 53 229 / 10%);
}

html[data-theme='dark'] {
  --token-color: #f8f8f2;
  --token-background: var(--ifm-background-surface-color);
  --token-border: #414458;
  --token-color-comment: #9e9e9e;
  --token-color-doctype: #6a9955;
  --token-color-string: #78a861;
  --token-color-operator: #d4d4d4;
  --token-color-symbol: #b5cea8;
  --token-color-number: #b5cea8;
  --token-color-keyword: #569cd6;
  --token-color-function: #98b6ce;
  --token-color-function-variable: #f8f8f2;
  --token-color-important: #569cd6;
  --token-color-class-name: #4ec9b0;
  --token-color-selector: #d7ba7d;
  --token-color-regexp: #d7ba7d;
  --token-color-property: #ce9178;
  --token-color-builtin: #569cd6;
  --token-color-boolean: #569cd6;
  --token-color-inserted: #50fa7b;
  --token-color-deleted: #f55;
  --token-color-unchanged: #a6a6a6;
  --token-color-highlight: rgb(247 235 198 / 20%);

  --code-line-decoration: rgb(255 255 255 / 10%);
}

.list {
  font-family: var(--ifm-font-family-monospace);
  background: transparent;
  border: none;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0;
  font-feature-settings:
    'liga' 0,
    'calt' 0;
  position: relative;
  min-width: 100%;
}

.list * {
  vertical-align: top;
}

.list,
.subList {
  box-sizing: border-box;
  margin: 0;
  padding-left: 1.5rem;
  width: max-content;
}

.selected {
  background: var(--code-line-decoration);
}

.nonExpand,
.expand {
  border-left: 0.1rem dashed var(--ifm-color-emphasis-200);
  width: max-content;
}

.expand.open::before {
  content: '+';
}

.expand::before {
  content: '-';
  margin-left: -1rem;
  width: 1rem;
  display: inline-block;
}

.valueBody {
  min-width: 300px;
  width: fit-content;
}

.tokenName {
  color: var(--token-color-class-name);
}

.propNumber,
.propEmpty,
.propRegExp,
.propClass,
.propBoolean,
.propError,
.propString {
  display: inline-block;
  max-width: 600px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}

.propName {
  color: var(--token-color-builtin);
}

.propNumber {
  color: var(--token-color-number);
}

.propEmpty {
  color: var(--token-color-comment);
}

.propRegExp {
  color: var(--token-color-regexp);
}

.propClass {
  color: var(--token-color-class-name);
}

.propBoolean {
  color: var(--token-color-boolean);
}

.propError {
  color: var(--token-color-deleted);
}

.propString {
  color: var(--token-color-property);
}

.hidden {
  color: var(--token-color-comment);
  max-width: 200px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.list {
  display: block;
  height: 100%;
  width: 100%;
  min-height: 0;
  position: relative;
  overflow: auto;
}


.footer {
  color: white;
  text-align: end;
  padding: 10px 20px;
  font-size: 14px;
}
