
.btn-wrapper {
  display: inline-block;
  background: lighten($gray-lighter, 3%);
  margin: $padding-base-vertical * 2 0;
  padding: $padding-base-horizontal;
  border-radius: $border-radius-base;

  @media (max-width: $screen-sm-max) {
    display: block;
  }
}

.btn-lg {
  margin: $padding-large-vertical * 2 0;
  padding: $padding-large-horizontal;
  border-radius: $border-radius-large;
}

.btn-featured {
  background: $babel-yellow;
  border-color: $babel-yellow;
  color: $babel-dark-gray;
  font-weight: bold;
  font-family: $headings-font-family;
  font-size: $font-size-h1;
  padding: $padding-large-vertical $padding-large-horizontal * 2;
  white-space: normal;

  &:not(:first-child) {
    margin-left: $padding-base-horizontal;
  }

  &:hover {
    background: $babel-dark-gray;
    color: $babel-yellow;
    border-color: $babel-dark-gray;
  }

  &, &:active {
    box-shadow: none;
  }

  @media (max-width: $screen-sm-max) {
    display: block;

    &:not(:first-child) {
      margin-top: $padding-large-vertical * 2;
      margin-left: 0;
    }
  }
}
