/*
* Callouts
*
* Not quite alerts, but custom and helpful notes for folks reading the docs.
* Requires a base and modifier class.
*/
.babel-callout {
  padding: $line-height-computed;
  margin: $line-height-computed 0;
  border: 1px solid $gray-lighter;
  border-left-width: $padding-xs-horizontal;
  border-radius: $border-radius-small;
  font: inherit;

  /* Common styles for all types */
  h4 {
    margin-top: 0;
    margin-bottom: ($line-height-computed / 4);
  }
  p:last-child {
    margin-bottom: 0;
  }
  code {
    border-radius: $border-radius-small;
  }

  /* Tighten up space between multiple callouts */
  & + & {
    margin-top: -($line-height-computed / 4);
  }
}

/* Variations */
.babel-callout-danger {
  border-left-color: $brand-danger;
  h4 {
    color: #ce4844;
  }
}
.babel-callout-warning {
  border-left-color: $brand-warning;
  h4 {
    color: #aa6708;
  }
}
.babel-callout-info {
  border-left-color: $brand-info;
  h4 {
    color: #1b809e;
  }
}
