pre,
pre.highlight {
  border: none;
  border-radius: 0;
  background: desaturate(lighten($babel-yellow, 31%), 10%);
  @include box-shadow(none);
  color: $babel-dark-gray;
  padding: 1em;
  position: relative;
}

div.highlighter-rouge {
  &:before {
    background: #FBF4D0;
    color: #B0A673;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 24px;
    line-height: 18px;
    padding: 3px 10px;
  }

  &.language-js:before,
  &.language-javascript:before {
    content: 'Javascript';
  }

  &.language-json:before {
    content: 'JSON';
  }

  &.language-sh:before,
  &.language-shell:before,
  &.language-bash:before {
    content: 'Shell';
  }

  &.language-ts:before {
    content: 'TypeScript';
  }

  &.language-css:before {
    content: 'CSS';
  }

  &.language-html:before {
    content: 'HTML';
  }

  &.language-yaml:before {
    content: 'YAML';
  }
}
