.community-flag {
    background: #f5da55;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    padding: 3px 15px;
    border-radius: 5px;
    color: black;
}

.affix-top {

  .community-flag {
    display: none;
  }
}

.affix {

  .community-flag {
    margin-bottom: 20px;
    display: block;
  }
}
