.community-flag {
    background: #F0AD4E;
    font-weight: 400;
    font-size: 0.5em;
    text-align: center;
    vertical-align:middle;
    margin-right: 7px;
    padding: 3px 15px;
    border-radius: 5px;
    color: black;
}
