.featurette {
  display: block;

  &--get-started {
    .highlight {
      margin-bottom: 32px;
      min-height: 90px;
    }
    h3 {
      font-size: 22px;
    }
  }

  h2 {
    font-weight: 600;
    line-height: 1;
    margin-bottom: 32px;

    a {
      color: inherit;
    }

    @media (min-width: $screen-sm) {
      font-size: 50px;
    }
  }

  &:link:hover h2 {
    text-decoration: underline;
  }

  p {
    @extend .lead;
  }

  img {
    border-radius: $border-radius-base;
    max-height: 200px;
  }
}

@media (min-width: $screen-md-min) {
  .featurette {
    padding: 20px 0;
  }

  .featurette-divider {
    margin: 35px 0;
  }
}
