.featurette {
  display: block;

  h2 {
    font-weight: 600;
    line-height: 1;

    a {
      color: inherit;
    }

    @media (min-width: $screen-sm) {
      font-size: 50px;
    }

    @media (min-width: $screen-md) {
      margin-top: 30px;
    }
  }

  &:link:hover h2 {
    text-decoration: underline;
  }

  p {
    @extend .lead;
  }

  img {
    border-radius: $border-radius-base;
    max-height: 200px;
  }
}

@media (min-width: $screen-md-min) {
  .featurette {
    padding: 20px 0;
  }

  .featurette-divider {
    margin: 20px 0;
  }
}
