.footer {
  margin-top: $padding-large-vertical * 4;
  padding: $padding-large-vertical * 4 0;
  background: $gray-lighter;
  border-top: 1px solid darken($gray-lighter, 5%);

  .repl ~ & {
    margin-top: 0;
  }
}
