.personal-appeal {
  background: #000;

  .container {
    position: relative;
  }
  #fieri_quote {
    position: absolute;
    white-space: pre-wrap;
    top: 35%;
    left: 5.15%;
    color: #eee;
    height: 30%;
    width: 63%;
    font-size: 26px; // What you see is what you get with me. There's no show.
    &.animating {
      animation: 1s ease-in-out fade;
    }
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  img {
    width: 100%;
  }
}
