.jumbotron {
  position: relative;
  margin: 20px 0;
  border-radius: 0;
  padding: 5em 0;
  position: relative;
  overflow: hidden;

  .navbar + & {
    margin-top: 0;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url(../images/logo.svg) no-repeat;
    background-position: center center;
    background-size: 150% auto;
    opacity: 0.3;
  }

  * {
    position: relative;
    z-index: 1;
  }

  h1 {
    font-weight: 700;
    letter-spacing: -0.02em;
  }

  p {
    font-size: 28px;
    font-weight: 600;
  }

  &-callout {
    display: block;
    color: inherit;
    padding: $line-height-computed;
    margin: $line-height-computed 0;
    border: 1px solid $gray-lighter;
    border-radius: $border-radius-small;

    &:hover {
      color: $gray-lighter;
    }

    p {
      font-size: $font-size-base;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $screen-md-min) {
    margin: 60px 0;
    padding: 10em 0;

    &::before {
      background-size: 110%;
      background-position: 0% center;
    }
  }
}

.jumbotron-inverse {
  background: $babel-yellow;
  color: $babel-dark-gray;

  &::before {
    opacity: 0.05;
  }

  h1 {
    color: inherit;
  }

  .jumbotron-brand {
    color: darken($babel-yellow, 10%);
  }
}
