.logo {
  background: url(../images/logo.svg) no-repeat center;
  background-size: auto $navbar-height - $navbar-padding-vertical;
  width: 120px;
  height: $navbar-height;

  &.navbar-brand {
    @include hide-text();
  }
}
