.navbar {
  font-family: $headings-font-family;
  font-weight: 600;
  border-bottom-width: 2px;
}

.navbar-brand {
  font-size: 1.5em;
}

@media (max-width: $screen-md-max) {
  .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.group-name {
  border-bottom: 1px solid #E0E0E0;
  padding: 0 0 8px;
  margin: 17px 20px 8px;

  @media (max-width: $grid-float-breakpoint-max) {
    border-bottom-color: #BFAA42;
    margin-left: 25px;
    margin-right: 15px;
  }
}

.nav-social {
  @include align-items(center);
  @include flex;

  > li > a {
    @include flex;
  }

  svg {
    display: block;
    fill: currentColor;
    height: 16px;
    width: 16px;
  }
}
