ul.babel-tick-list {
  li {
    color: darken(#5cb85c, 10%);
    padding-left: 0px;
    list-style-type: none;

    &:before {
      font-weight: bold;
      content: "✓";
      padding-right: 10px;
    }
  }
}
