pre {
  border: none;
  background: lighten($gray-lighter, 4%);
  @include box-shadow(none);
  color: $babel-dark-gray;
  padding: 1em;
}

table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;
  @extend .table-hover;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  position: relative;

  &:target::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    height: 1em;
    width: 10px;
    background: $babel-yellow;
    margin-left: -20px;
  }

  &:target::before {
    content: "";
    display: block;
    margin-top: -70px;
    height: 70px;
  }
}

.lead pre {
  @extend .lead;
}
