pre {
  border: none;
  background: desaturate(lighten($babel-yellow, 31%), 10%);
  @include box-shadow(none);
  color: $babel-dark-gray;
  padding: 1em;
}

table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;
  @extend .table-hover;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  &:target::after {
    content: "";
    display: block;
    height: 1em;
    width: 10px;
    margin-left: -20px;
    margin-top: -1em;
    background: $babel-yellow;
  }

  &:target::before {
    content: "";
    display: block;
    margin-top: -70px;
    height: 70px;
    width: 1px;
  }
}

.lead pre {
  @extend .lead;
}
