.babel-user-container {
  background: #eee;
  border-radius: 5px;
  padding: 20px 30px;
}

.babel-slider {
  margin-top: 30px;
  margin-bottom: 20px;

  .slick-list {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .slick-slide {
    opacity: 0.3;
    @include transition(opacity 300ms ease);
  }

  .slick-active {
    opacity: 1;
  }
}

.babel-user {
  display: block;
  position: relative;
  height: 120px;
  padding: 10px;
  margin: 15px 0;
  background: white;
  border-radius: 5px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    /* transform: translate(-50%, -50%); */
    max-width: 200px;
    max-height: 100px;
  }
}
