.babel-videos {
  @include flexbox;
  @include flex-wrap(wrap);
}

.babel-video {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .25rem;
  height: 100%;
  overflow: hidden;

  &-wrap {
    @include flex(1 1 auto);
    margin-bottom: 3rem;
  }

  &-block {
    @include flex(1 0 auto);
    padding: 1.25rem;
  }

  &-title {
    margin-bottom: .75rem;
  }
}
