---
layout: page
custom_js_with_timestamps:
- docs.js
---

<div class="container">
  <div class="row">
    <div class="col-md-9 docs-content">
      {{ content }}
    </div>

    <div class="col-md-3">
      <div class="sidebar">
        <ul class="nav"></ul>
      </div>
    </div>
  </div>

  <!-- Discourse Embed -->
  <h2 id="community-discussion" class="page-header">Community Discussion</h2>

  <div id="discourse-comments"></div>

  <script type="text/javascript">
    DiscourseEmbed = { discourseUrl: 'https://discuss.babeljs.io/',
                       discourseEmbedUrl: 'https://babeljs.io{{page.permalink}}'};

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
  </script>
</div>
