---
layout: default
custom_js:
- social.js
---

<div class="docs-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-3 text-center">
        {% if page.guest_post %}
          <span class="babel-blog-title-label">Guest Post</span>
        {% endif %}
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-push-2 babel-blog-content">
      <p class="small text-center text-muted">Posted {{ page.date | date: "%b %-d, %Y" }} by
      {% if page.author_url %}
        <a href="{{page.author_url}}">{{page.author}}</a>
      {% else %}
        {{page.author}}
      {% endif %}
      {% if page.meta %} · {{ page.meta }}{% endif %}</p>

      {% if page.guest_post %}
        <blockquote class="babel-callout babel-callout-info">
          <p>
            {{ page.guest_description }}
          </p>
        </blockquote>
      {% endif %}

      {{content}}

      <!-- Discourse Embed -->
      <h2 id="community-discussion">Community Discussion</h2>

      <div id="discourse-comments"></div>

      <script type="text/javascript">
        DiscourseEmbed = { discourseUrl: 'https://discuss.babeljs.io/',
                           discourseEmbedUrl: 'https://babeljs.io{{page.url}}'};

        (function() {
          var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
      </script>

    </div>
  </div>
</div>
