---
layout: default
layout_scripts:
 - /scripts/social.js
---

<div class="docs-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-push-3">
        <h1 class="text-center">{{page.title}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-push-3 babel-blog-content">
      <p class="small text-center text-muted">Posted {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}{% if page.meta %} · {{ page.meta }}{% endif %}</p>

      {{content}}

      <hr>

      <div class="babel-share-buttons">
        <div class="fb-share-button" data-layout="button_count"></div>
        <a class="twitter-share-button" href="https://twitter.com/share" data-via="babeljs" data-text="{% if page.share_text %}{{page.share_text}}{% else %}{{page.title}}{% endif %}">Tweet</a>
      </div>

      <div id="fb-root"></div>

      <hr>

      <div id="disqus_thread"></div>

      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    </div>
  </div>
</div>
