@import "../node_modules/bootstrap/less/bootstrap.less";
@import (inline) "../node_modules/github-markdown-css/github-markdown.css";
@import (inline) "../node_modules/highlight.js/styles/github.css";

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 10;
}

.sidebar {
  .logo {
    display: block;
    margin-bottom: 20px;
    position: relative;
    z-index: 9;

    img {
      width: 100%;
    }
  }
}

header,
footer {
  text-align: center;
}

body {
  margin: 40px 0 30px;
  background-color: #fefefe;
}

footer {
  margin-top: 20px;
}

#repl {
  .editor {
    float: left;
    width: 50%;
    height: 300px;
  }

  #console {
    margin-bottom: 0;

    &.error {
      color: red;
    }
  }
}

#code-contributors {
  a {
    &:hover {
      text-decoration: none;

      span {
        text-decoration: underline;
      }
    }

    span {
      padding-left: 10px;
    }
  }
}

#issue-contributors {
  -webkit-columns: 100px 3;
  -moz-columns: 100px 3;
  columns: 100px 3;

  p {
    margin-bottom: 0;

    a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.markdown-body {
  overflow: visible !important;
}

.markdown-body h1 .anchor,
.markdown-body h2 .anchor,
.markdown-body h3 .anchor,
.markdown-body h4 .anchor,
.markdown-body h5 .anchor,
.markdown-body h6 .anchor {
  top: 0.3em;
}
