@import (inline) "../node_modules/bootstrap/dist/css/bootstrap.css";
@import (inline) "../node_modules/github-markdown-css/github-markdown.css";
@import (inline) "../node_modules/highlight.js/styles/github.css";

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

header {
  margin: 30px 0;

  .logo {
    display: block;
    margin-bottom: 20px;

    img {
      width: 400px;
      height: 182px;
    }
  }

  .nav {
    float: center;
  }
}

header,
footer {
  text-align: center;
}

body {
  margin: 20px 0 30px;
  background-color: #fefefe;
}

footer {
  margin-top: 20px;
}

#repl {
  .editor {
    float: left;
    width: 50%;
    height: 300px;
  }

  #console {
    margin-bottom: 0;

    &.error {
      color: red;
    }
  }
}

.container {
  width: 850px;
  padding: 0 30px;
  margin: 0 auto;
}

.markdown-body h1 .anchor,
.markdown-body h2 .anchor,
.markdown-body h3 .anchor,
.markdown-body h4 .anchor,
.markdown-body h5 .anchor,
.markdown-body h6 .anchor {
  top: 0.3em;
}
