<html>
<head>
  <meta charset="UTF-8">
  <title>6to5 · Turn ES6 code into readable vanilla ES5 with source maps</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container markdown-body">
    {{{content}}}
  </div>
</body>
</html>
